@charset "UTF-8"; 

body{
    background-color: white;
}

div#interface{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

@font-face {
    font-family: 'tarantinoregular';
    src: url('../fontes/tarantino/tarantino-90j2-webfont.woff2') format('woff2'),
         url('../fontes/tarantino/tarantino-90j2-webfont.woff2tarantino-90j2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'keetano_katanabold';
    src: url('../fontes/keetano_katana/keetano_katana-webfont.woff2') format('woff2'),
         url('../fontes/keetano_katana/keetano_katana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trashhandregular';
    src: url('../fontes/thashhand/trashhand-webfont.woff2') format('woff2'),
         url('../fontes/thashhand/trashhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Configuação de cabeçalho*/
header#titulo{
    font-family: tarantinoregular, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: red;
    position: relative;
    width: 100%;
    height: 30%;
}


header#titulo h1{
    color: yellow;
    text-indent: 160px;
    word-spacing: 7px;
}
header#titulo img#logo{
    top: 20px;
    left: 50px;
    position: absolute;
}
header#titulo nav#menu{
    display: block;
    font-weight: bold;
    font-family: tarantinoregular, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

header#titulo nav#menu h1{
    display: none;
}

header#titulo nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    top: 70px;
    left: 700px;
    position: absolute;
}

header#titulo nav#menu li{
    display: inline-block;
    padding: 2px;
    transition: font-family 1s ease;
}

header#titulo nav#menu li:hover{
    font-family: keetano_katanabold;
    font-size: 14pt;
    color: yellow;
}


header#titulo nav#menu a{
    text-decoration: none;
    color: yellow;
}

header#titulo nav#menu a:hover{
    color: white;
    text-decoration: underline;
}


/*Configuração da seção do meio*/
section#meio{
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
    float: left;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    height: 80%;
    overflow-y: hide;
   padding-bottom: 80px;
}

/*Conf rodapé*/



footer#rodape{
    position: relative;
    clear: both;
    text-align: center;
    height: 25%;
    bottom: 0%;
    background-color: red;
    width: 100%;
    right: 0;
    left: 0;
}

footer#rodape nav#redes{
    display: block;
}

footer#rodape nav#redes ol{
    list-style: none;
    position: absolute;
    left: 65%;
    margin-bottom: 0px;
}

footer#rodape nav#redes li{
    display: inline-block;
}

footer#rodape nav#redes img{
    width: 40px;
    padding: 40px;
    transition: filter .5s;
}

footer#rodape nav#redes li img:hover{
    filter: contrast(20%) brightness(150%);
}


footer#rodape div#rodapeFinal{
    position: absolute;
    bottom: 0px;
    left: 33%;

}

footer#rodape div#rodapeFinal h5{
    color: yellow;
    font-size: 10pt;
}