*{
    margin: 0;
    padding: 0;
}



@font-face {
    font-family:"Champagne";
    src:url("fontes/CAC_Champagne/CACCHAMP.eot?") 
    format("eot"),url("fontes/CAC_Champagne/CACCHAMP.woff") 
    format("woff"),url("fontes/CAC_Champagne/CACCHAMP.ttf") 
    format("truetype"),url("fontes/CAC_Champagne/CACCHAMP.svg#CACChampagne") 
    format("svg");font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'allura';
    src: url('fontes/alura/allura-webfont.woff2') format('woff2'),
         url('fontes/alura/allura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div#interface{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    height: 100%;
    width: 100%;
}

header#titulo{
    font-family: tarantinoregular, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #ff007f;
    position: relative;
    width: 100%;
    height: 60px;
}

header#titulo h1{
    position: absolute;
    top: 0px;
    color: white;
    text-indent: 110px;
    word-spacing: 4px;
    font-family: Champagne;
    font-size: 35pt;
}


header#titulo img#logo{
    top: 4px;
    left: 30px;
    position: absolute;
}


.menu{
    position: absolute;
    top: 6px;
    left: 480px;
    background-color: #ff007f;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    font-weight: bold;
    font-size: 12pt;
    
}

header#titulo nav.menu h1{
    display: none;
}

.menu ul{
    list-style: none;
    position: relative;
    list-style: none;
    text-transform: capitalize;
}
.menu ul li{
    width: 142px;
    float: left;
}

.menu ul li .excedente{
    padding: 7px;
    margin-top: 0;
}

.menu a{
    padding: 16px;
    display: block;
    text-align: center;
    background-color: #ff007f;
    text-decoration: none;
    color: white;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #ff007f;
    border-bottom: solid 3px #ccc;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}

.sub-menu a{
    background-color: #ff69b4;
}
.sub-menu a:hover{
    border-top: solid 1px #ccc;
}

footer#rodape{
    position: absolute;
    clear: both;
    text-align: center;
    height: 100px;
    bottom: 0;
    margin-bottom: 0;
    background-color: #ff007f;
    width: 100%;
}

footer#rodape nav#redes{
    display: block;
}

footer#rodape nav#redes ol{
    list-style: none;
    position: absolute;
    left: 65%;
    margin-bottom: 0px;
}

footer#rodape nav#redes li{
    display: inline-block;
}

footer#rodape nav#redes img{
    width: 40px;
    padding: 40px;
    transition: filter .5s;
}

footer#rodape nav#redes li img:hover{
    filter: contrast(20%) brightness(150%);
}


footer#rodape div#rodapeFinal{
    position: absolute;
    bottom: 0px;
    left: 33%;

}

footer#rodape div#rodapeFinal h5{
    color: yellow;
    font-size: 10pt;
}