section#meio{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}


section#meio div#div-sinopse{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-sinopse > img{
    filter: grayscale(0.6);
    width:100%; height: 100%;
}

section#meio div#div-sinopse > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

#testura-backgroud-sinopse{
    background-color: rgba(255, 255, 255, 1);
}

section#meio div#div-sinopse div#content-sinopse{
    position: relative;
    margin: auto;
    text-align: center;
}

section#meio div#div-sinopse div#content-sinopse #texto-sinopse{
    color: black;
    width: 980px;
    text-align: justify;
    position: absolute;
    top: 10px;
    left: 120px;
}

.texto-blocos{
    display: block;
    position: relative;
    left: 30px;
}

.texto-blocos-div1{
    font-size: 14pt;
    width: 980px;
}

.texto-blocos-div2{
    text-align: center;
    display: flex;
    padding-top: 5px;
    padding-bottom: 25px;
}

.texto-blocos-div2 p{
    text-align: center;
    width: 500px;
    font-weight: bolder;
}

.texto-blocos-div2 a{
    text-decoration: none;
    color: black;
}


.zoom-sinopse {
    overflow: hidden;
}

.zoom-sinopse img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom-sinopse:hover img {
    margin-top: -100px;
	-moz-transform: scale(3.5);
	-webkit-transform: scale(3.5);
	transform: scale(3.5);
}

section#meio div#div-sinopse div#content-sinopse h1{
    color: black;
    font-size: 50pt;
    text-align: center;
}

section#meio div#div-sinopse div#content-sinopse h2{
    color: black;
    text-align: center;
}


section#meio div#div-mugiwaras{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-mugiwaras > img{
    width:100%; height: 100%;
}

section#meio div#div-mugiwaras > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    /* background-color: green;
    opacity: 0.5;  */
    width:100%; 
    height: 100%; 
    color: #FFF;
}

section#meio div#div-mugiwaras h1{
    color: whitesmoke;
    text-align: center;
    font-size: 32pt;
}

section#meio div#div-mugiwaras div#content-mugiwaras{
    position: relative;
}

section#meio div#div-mugiwaras div#content-mugiwaras div.conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#meio div#div-mugiwaras div#content-mugiwaras div.conteiner .item{
    position: relative;
    width: 200px;
    height: 294px;
    margin-top: 40px;
}

section#meio div#div-mugiwaras div#content-mugiwaras div.conteiner .item img{
    width: 200px;
    height: 294px;
}

section#meio div#div-mugiwaras div#content-mugiwaras div.conteiner .item div{
    position: absolute;
    top: 0;
}

.content-texto-mugiwaras{
    position: relative;
    color: black;
    background-color: bisque;
    width: 200px;
    height: 294px;
}

.content-texto-mugiwaras h3{
    text-align: center;
}

.content-texto-mugiwaras p{
    padding: 10px;
    text-align: justify;
    font-size: 12.5pt;
}

.flip{
    float: left;
    perspective: 1000px;
}

.flip .frente{
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}
.flip .fundo{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.flip:hover .frente{
    transform: rotateY(-180deg);
    cursor: pointer;
}

.flip:hover .fundo{
    transform: rotateY(0deg);
    cursor: pointer;
}


section#meio div#div-marinha{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-marinha > img{
    width:100%; height: 100%;
}

section#meio div#div-marinha > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -805px; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

section#meio div#div-marinha h1{
    color: black;
    font-size: 40px;
    text-align: center;
}

section#meio div#div-marinha div#content-marinha{
    margin: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-marinha{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.container-marinha .card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    color: #000;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

}

.container-marinha .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container-marinha .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
}

.container-marinha .card .face.face1 h2{
    margin: 0;
    padding: 0;
}

.container-marinha .card .content-texto-marinha{
    position: absolute;
}
.container-marinha .card .content-texto-marinha img{
    width: 220px;
    padding-left: 37px;
}

.container-marinha .card .content-texto-marinha h2{
    text-align: center;
}

.container-marinha .card .content-texto-marinha p{
    padding: 14px;
    text-align: justify;
}

.container-marinha .card .face.face2{
    background: #111;
    transition: 0.5s;
    align-items: center;
}

.container-marinha .card:nth-child(1) .face.face2{
    background: linear-gradient(45deg, #3503ad, #f7308c);
}

.container-marinha .card:nth-child(2) .face.face2{
    background: linear-gradient(45deg, #ccff00, #09afff);
}

.container-marinha .card:nth-child(3) .face.face2{
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
}


.container-marinha .card:hover .face.face2{
    height: 60px;
}

.container-marinha .card .face.face2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.container-marinha .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0, 2px, 5px rgba(0, 0, 0, 0.2);
}

.container-marinha .card:hover .face.face2 h2{
    font-size: 20px;
}

section#meio div#div-shichibukais{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-shichibukais > img{
    width:100%; height: 100%;
    filter: blur(4px);
}

section#meio div#div-shichibukais > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -698px; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

section#meio div#div-shichibukais div#content-shichibukais{
    position: relative;
}

section#meio div#div-shichibukais div#content-shichibukais div.container-shichibukais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#meio div#div-shichibukais div#content-shichibukais div.container-shichibukais .item-shichibukais{
    position: relative;
    width: 220px;
    height: 213px;
    margin-top: 6px;
    border: 5px solid #000; 
    border-radius: 110px;
    overflow: hidden;
}

section#meio div#div-shichibukais div#content-shichibukais div.container-shichibukais .item-shichibukais img{
    width: 220px;
    border-radius: 110px;
    overflow: hidden;
}

.content-texto-shichibucais{
    position: absolute;
    width: 220px;
    height: 213px;
    margin: 0;
    border-radius: 110px;
    top: 0px;
    text-align: center;
    background-color: #000;
}

.content-texto-shichibucais h5{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.content-texto-shichibucais p{
 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    justify-content: center;
}

.efect-sombra-centro{}
.efect-sombra-centro div{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    transform: scale(0);
    transition-duration: .5s;
}
.efect-sombra-centro:hover div{
    transform: scale(1);
    transition-duration: .5s;
}

section#meio div#div-yonkous{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-yonkous > img{
    width:100%; height: 100%;
}

section#meio div#div-yonkous > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    background-color: brown;
    opacity: 0.5; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}


section#meio div#div-akumaNoMi{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-akumaNoMi > img{
    width:100%; height: 100%;
}

section#meio div#div-akumaNoMi > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    background-color: yellow;
    opacity: 0.5; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

section#meio div#div-midia{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-midia > img{
    width:100%; height: 100%;
}

section#meio div#div-midia > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    background-color: green;
    opacity: 0.5; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

section#meio div#div-tecnicas{
    position: relative; 
    width: 100%; 
    height: 100%;
}

section#meio div#div-tecnicas > img{
    width:100%; height: 100%;
}

section#meio div#div-tecnicas > div{
    position: absolute;
    left: 50%;
    margin-left: -675px;
    top: 100%; margin-top: -763px; 
    background-color: red;
    opacity: 0.5; 
    width:100%; 
    height: 100%; 
    color: #FFF;
}

