.luffy{
    background: url("../imagens/mugiwaras/luffy.jpg") no-repeat;
    background-size: cover;
}

.zoro{
    background: url("../imagens/mugiwaras/zoro.jpg") no-repeat;
    background-size: cover;
}

.nami{
    background: url("../imagens/mugiwaras/nami.jpg") no-repeat;
    background-size: cover;
}

.usopp{
    background: url("../imagens/mugiwaras/usopp.jpg") no-repeat;
    background-size: cover;
}

.sanji{
    background: url("../imagens/mugiwaras/sanji.jpg") no-repeat;
    background-size: cover;
}

.chopper{
    background: url("../imagens/mugiwaras/chopper.jpg") no-repeat;
    background-size: cover;
}

.robin{
    background: url("../imagens/mugiwaras/nico_robin.jpg") no-repeat;
    background-size: cover;
}

.francky{
    background: url("../imagens/mugiwaras/francky.jpg") no-repeat;
    background-size: cover;
}

.brook{
    background: url("../imagens/mugiwaras/brook.jpg") no-repeat;
    background-size: cover;
}

.jinbe{
    background: url("../imagens/mugiwaras/jinbe.jpg") no-repeat;
    background-size: cover;
}