section.meio{
    position: relative;
}

.imagem1{
    width: 100%;
    height: 800px;
    background: url("../imagens/home/sinopse.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagem2{
    width: 100%;
    height: 800px;
    background: url("../imagens/home/midia.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagem3{
    width: 100%;
    height: 800px;
    background: url("../imagens/home/mugiwares.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content{
    width: 100%;
    height: 400px;
    background-color: #fff;
}
.content h2{
    text-align: center;
    font-size: 50px;
}

.content p{
    font-size: 21.5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
    
    text-align: justify;
}
